/*body {
font-family: __MSG_ext_font__;
}*/
body {
width:300px;
font:12px "Lucida Grande", verdana, sans-serif;
-webkit-user-select:none;
overflow-x:hidden;
overflow-y:auto;
margin:0;
}

.bold {
font-weight:700;
}

table {
width:100%;
max-height:12px!important;
padding:2px 0 2px;
}

.icon {
height: 16px;
width: 16px;
vertical-align:top;
margin:0px 6px 0 0;
padding-top:1px;
}

.contentDiv {
width:100%;
text-align:left;
overflow-x:hidden;
overflow-y:auto;
max-height:570px;
}

.contentDiv a{
position:relative;
display:block;
color:#404352;
text-decoration:none;
background:#FFF;
cursor:pointer;
-webkit-transition:background .1s linear;
transition:background .1s linear;
z-index: 0;
}

.contentDiv a:focus {
background:#E2F4FB;
outline:#C5EAF8 solid thin;
}

.contentDiv a .titleTxt {
display:inline-block;
min-height:11px;
overflow:hidden;
line-height:120%;
text-overflow:ellipsis;
margin:3px 0;
}

.nxtLine {
display:inline-block;
color:gray;
overflow:hidden;
height:16px;
vertical-align:top;
margin:0 0 0 22px;
padding:0;
font-size:10px;
}

.contentDiv a u {
color:#B37700;
text-shadow:0 0 3px #FF9100;
}

a,a:hover,a:visited {
text-decoration:none;
color:#000;
}

.maxh1 {
max-height:20px;
line-height:200%!important;
margin:-2px 0 0!important;
white-space: nowrap;
}

.maxh2 {
max-height:28px;
}

.maxh3 {
max-height:42px;
}

.maxh4 {
max-height:56px;
}

.maxh5 {
max-height:70px;
}

.maxh6 {
max-height:86px;
}

center {
border-radius:2px;
display:block;
margin:5px;
padding:5px;
font-size:18px;
font-family: __MSG_ext_font__;
}

input {
border:1px solid #A8DFF4;
border-radius:2px;
background:url(search.png) top left no-repeat;
height:22px;
font-size:14px;
padding:0 0 0 20px;
width: 100%
}

input:focus {
border:1px solid #33B5E5;
border-radius:2px;
outline:none;
}

button {
color:#2CB1E1;
background:#FFF;
border:1px solid #A8DFF4;
text-align:center;
position:relative;
vertical-align:baseline;
text-decoration:none!important;
cursor:pointer;
border-radius:2px;
height:22px;
width:28px;
margin:0 1px;
padding:0 8px;
}

button:hover {
color:#FFF!important;
background:#09C;
border:1px solid #09C;
}

#clr {
width:62px;
}

#delete {
color:#F83A3A!important;
width:61px;
margin-left:1px;
border:1px solid #FFAFAF;
}

#delete:hover {
color:#FFF!important;
background:#C00;
border:1px solid #C00;
}

#tailenders {
margin-left:2px;
}
.tailendersShow {
width:60px;
}
.tailendersHide {
display:none;
}

.item {
position:relative;
display:block;
margin:2px;
padding:4px 2px;
}

.item:hover {
background:#C5EAF8;
outline:#A8DFF4 solid thin;
}

.contentDiv .item:hover > .del {
display:inline-block;
}

.del {
position: absolute;
bottom:-1px;
right: -1px;
z-index: 2;
cursor: pointer;
display:none;
padding:0px 4px;
height: 100%;
color:gray;
width:20px;
text-align:right;
background: linear-gradient(to right, rgba(197,234,248,0.5), rgba(197,234,248,1));
}
.del:hover {
color:white;
background: transparent;
}
.del:hover + .delBg{
width: 31px;
transition: width 0.1s;
}
.delTxt{
position: absolute;
bottom:4px;
right: 5px;
margin:0;
}
.delBg{
display:inline-block;
position: absolute;
z-index: 1;
right: -4px;
bottom:-1px;
width: 0px;
height:100%;
background-color: #F83A3A;
border:1px solid #E23636;
transition: width 0.05s;
}

.smeLine {
top: 0;
bottom: 0;
margin: auto;
}

#searchholder{padding:0 2px;}
#clrholder{width:1%;white-space:nowrap;}
#searchQ{box-sizing: border-box;}